@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'

$color1 : #E7E7DE !important
$color2 : #495BBD !important
$color3 : #E1DFDF !important
$font-family-code : source-code-pro

body   
.btn
    background-color : $color2

.background
    background-color : $color1
       
.col-3
    background-color : $color3

h3
    font-weight : 300 